{% extends 'Main/base.html' %}

{% block title %}
    Publicaciones 
{% endblock title %}

{% block content_title %}
    Lista de publicaciones
{% endblock content_title %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body"> 
                        <h2 class="card-title h5 text-dark">{{ post.titulo }}</h2>
                        <p class="card-text">{{ post.contenido }}</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <small class="text-muted">Publicado el: {{ post.fecha_publicacion }}</small><br>
                        <small class="text-muted">Actualizado el: {{ post.fecha_actualizacion }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- BOTÓN CENTRADO AL FINAL -->
    <div class="text-center mt-5 mb-5">
        <a href="{% url 'blog:post_create' %}" class="btn btn-dark btn-lg px-5">Publica tu Obra!</a>
    </div>
{% endblock content %}


